.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--background);
}

.scrollbar-hidden {
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
